table {
    margin: 50px auto;
    border-collapse: collapse;
  }
  
  td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #96046f;
    transition: background-color 0.2s ease;
  }
  
  td:hover {
    background-color: #090909;
  }
  .X {
    color: rgb(217, 255, 0); /* "X" en rouge */
}

.O {
    color: rgb(255, 0, 123); /* "O" en bleu */
}
  